.button {
    color: var(--color-base);
    background-color: var(--color-interact);
    border-radius: 10px;
    padding: 14px 24px;
    cursor: pointer;
    border: 3px solid var(--color-interact);
    transition: color, 1s;
    transition: background-color, 0.3s;

    &__submit {
        background: var(--color-interact);
        border: none;
        cursor: pointer;
        color: white;
        width: 100%;
        height: 50px;
        margin-top: 48px;
        border: 3px solid var(--color-interact);
    }
}

.button:hover {
    background-color: var(--color-base);
    color: var(--color-interact);
    text-decoration: underline
}
