.header {
    width: 100%;
    background-color: var(--color-secondary);

    &__container {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__logo {
        width: 75px;
        height: 75px;
    }

    &__nav {
        display: none;
        justify-content: center ;
        gap: 60px;
        flex-grow: 1;
        align-items: center;
        @media screen and (min-width: $bp-tablet) {
            display: flex;
        }
    }
}