.hero-section {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url('/images/image.png');
    background-size: cover;
    padding: 222px 222px 222px 122px;
    display: flex;

    &__title {
        color: var(--color-base);
        font-size: 48px;
        font-weight: 800;
        text-align: left;
        margin: 0;
        max-width: 700px;

    }
}