.history-section {
    margin-bottom: 280px;

    &__timeline {
        background-color: var(--color-secondary);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 4px;
        position: relative;

        &-dott {
            background-color: var(--color-base);
            width: 10px;
            height: 10px;
            border-width: 3px;
            border-color: black;
            border-radius: 50%;
            border-color: var(--color-secondary);
            padding: 5px;
            cursor: pointer;
            transition: transform 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;

            &:hover {
                transform: scale(1.2);
                background-color: lightgray;
            }

            &.active {
                background-color: var(--color-interact);
                transform: scale(1.4);
                // box-shadow: 0 0 10px #C54F7B;
            }
        }

        &-container {
            width: 100%;
            height: 250px;
            background-color: darkgray;
            position: absolute;
            top: 10px;
            left: 0;
            border-radius: 20px;
            margin-top: 60px;
            padding: 16px;
            font-size: 18px;
            line-height: 1.4;
            transition: opacity 0.3s ease;
        }

        &-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}