.information-section {
    margin-top: 64px;

    &__container {
        margin-bottom: 32px;
        @media screen and (min-width: $bp-tablet) {
            margin-bottom: 100px;
        }
    }

    &__bottom {
        display: flex;
        gap: 10px;
        justify-content: space-around;
    }

    &__top {
        display: flex;
        gap: 10px;
        justify-content: space-around;
        margin-bottom: 32px;
        align-items: center;
        @media screen and (min-width: $bp-tablet) {
            margin-bottom: 64px;
        }
    }

    &__img {
        display: none;
        width: 300px;
        height: 100%;

        @media screen and (min-width: $bp-desktop) {
            width: 500px;
        }

        @media screen and (min-width: $bp-tablet) {
            display: block;
        }
    }

    &__text {
        max-width: 500px;
    }
}