.information-section {
    margin-top: 64px;

    &__container {
        margin-bottom: 100px;
    }

    &__bottom {
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }

    &__top {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        margin-bottom: 64px;
    }

    &__img {
        width: 500px;
        height: auto;
    }

    &__text {
        max-width: 500px;
    }
}