.modal {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 880px;
    max-height: 880px;
    padding: 16px;
    background-color: var(--color-secondary);
    color: white;
    overflow-y: auto;
    border: 5px solid var(--color-interact);
    border-radius: 16px;
    @media screen and (min-width: $bp-tablet) {
        padding: 76px;
    }

    

    &__img {
        display: none;
        width: 100%;
        @media screen and (min-width: $bp-desktop) {
            display: block;
        }
    }

    &__title {
        max-width: 610px;
    }

    &__text {
        font-size: 20px;
        @media screen and (min-width: $bp-tablet) {
            font-size: 40px;
        }
    }

    &__form-label {
        white-space: nowrap;
        width: 240px;
    }
    
    &__btn-close {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    &__block {
        display: grid;
        justify-content: left;
        align-items: center;
        padding-top: 30px;
        @media screen and (min-width: $bp-tablet) {
            display: flex;
        }
    }

    &__form-input {
        border: 3px solid var(--color-interact);
    }

    &__form-date {
        width: 60px;
    }
}

.modal-btn-close {
    position: absolute;
    top: 2px;
    right: 2px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    scale: 0.5;
    @media screen and (min-width: $bp-desktop) {
        top: 15px;
        right: 15px;
    }
}


.cvv2 {
    width: 60px;
}