.quotation-section {
    padding-bottom: 64px;
    &__list {
        padding: 16px;
        background-color: darkgray;
        width: 90%;
        height: 452px;
        border-radius: 16px;
        overflow-y: scroll;
        @media screen and (min-width: $bp-desktop) {
            width: 70%;
        }
    }

    &__card {
        display: flex;
        gap: 16px;
        margin-bottom: 24px;
    }

    &__img {
        display: none;
        width: 200px;
        height: 200px;
        @media screen and (min-width: $bp-desktop) {
            display: block;
        }
    }
}