.veteran-section {
    display: flex;
    padding: 32px 0px;

    &__container {
        overflow: hidden;
        margin: 0 auto;
        justify-self: center;
        margin-bottom: 32px;
    }

    &__swiper {
        margin: 32px 0 0 0;
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &__card {
        display: flex;
        padding: 12px;
        gap: 16px;
        background-color: var(--color-secondary);
        border-radius: 16px;
        color: var(--color-base);
        height: 200px;
    }

    &__img {
        width: 110px;
        height: 100%;
        border-radius: 16px;
        flex-shrink: 0;
    }

    &__text {
        font-size: 14px;
        opacity: 0.8;
        margin: 4px 0 0;
        overflow: hidden;
    }

    &__button {
        width: 44px;
        height: 44px;
        display: none;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background: url(/images/car.jpg) center / cover no-repeat;
        border: none;
        border-radius: 50%;
        flex-shrink: 0;
        @media screen and (min-width: $bp-tablet) {
            display: flex;
        }
    }


    &__cta {
        gap: 10px;
        margin: 0 auto;
        max-width: 1130px;
        padding: 20px;
        display: none;
        justify-content: space-around;
        align-items: end;
        border: 3px solid var(--color-secondary);
        border-radius: 24px;
        @media screen and (min-width: $bp-desktop) {
            display: flex;
        }
    }
}