.veteran-section {
    padding: 32px 0px;

    &__container {
        overflow: hidden;
    }

    &__swiper {
        display: flex;
        align-items: center;
    }

    &__img {
        width: 170px;
        height: 200px;
        border-radius: 16px;
    }

    &__card {
        gap: 16px;
        display: flex;
        padding: 12px;;
        background-color: var(--color-secondary);
        border-radius: 16px;
        color: var(--color-base);
        width: 100%;
    }

    .veteran-section__button {
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-image: url(/images/car.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border: none;
    }
}